body{
    background-color: rgb(77, 139, 159);
}

.navbarstyle{
    background-color: pink;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navfont{
   font-family:  sans-serif;
   color: rgb(5, 5, 5);
   font-weight: 600;
}

.homeimg{
    height: 369px;
    width: 434px;
}

.homepage{
    padding-top: 200px;
}

p{
    font-size: 20px;
}

h1{
    font-size: 70px;
}

h6{
    font-style: italic;
    font-size: 20px;
}

h2{
    font-size: 45px;
}

.btnCustom {
    display: inline-block;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.60rem 6rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .btnCustom {
      transition: none;
    }
  }
  .btnCustom:hover {
    color: #212529;
  }

.btn-new{
    color: #ffffff;
    background-color: #13718e;
    border-color: #13718e;
  }

  .btn-new2{
    color: #b94c4c;
    background-color: #f089cc;
    border-color: #f089cc;
  }



  /* 2nd page style */

  .pagetwo{
    padding: 50px;
    padding-bottom: 140px;
  }

  .img-style{
    height: 149px;
    width: 238px;
  }


  .pagethree{
    padding: 100px;
  }

  .padtopbot{
    padding-top: 200px;
    padding-bottom: 200px;
}

